:root {
  --primary-red: #da291c;
  /* McDonald's Red */
  --primary-yellow: #ffc72c;
  /* McDonald's Yellow */
  --dark-bg: #222222;
  --light-bg: #f5f5f5;
  --text-dark: #333333;
  --text-light: #ffffff;
  --card-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

body {
  margin: 0;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--light-bg);
  color: var(--text-dark);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}